{% extends 'ClamidityAuthNetBundle::layout.html.twig' %}

{% block clamidity_authnet_content %}
<div>
    <h1>Authorize.Net Profile Id's</h1>
    {% for id in ids %}
        {{ id.profileId }}
        <br />
    {% endfor %}
</div>
{% endblock clamidity_authnet_content %}